<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Highlights</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <div class="newhighlight">
        <div class="highlight-left">HIGHLIGHTS</div>
        <div class="highlight-right">
          <marquee behavior="scroll" direction="right">
            <a href="#" class="highlight-link">
              <i class="fa fa-link" aria-hidden="true"></i> Put the heading Here for Highlighs
            </a>
          </marquee>
        </div>
      </div>
    </div>
  </body>
</html>
